.form {
	margin: .5em 0;
}

button, a {
	cursor: pointer;
}

.form-group {
	display: block;

	& input {
		font: inherit;
		font-size: 90%;
		color: inherit;
		background: white;

		border: 1px solid #e0e5ed;
		border-radius: 3px;

		width: 100%;
		height: 50px;
		display: block;

		margin: .5em;
		padding: .8em;
	}
}

.signin-username {
	display: flex !important;
	flex-direction: row;

	& input {
		flex-grow: 1;
		flex-shrink: 1;

		margin-right: 0;

		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	& a {
		flex-grow: 0;
		flex-shrink: 0;

		margin-left: 0;

		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
