@import 'vars.css';
@import 'button.css';
@import 'form.css';
@import 'modal.css';
@import 'flash.css';
@import 'tabs.css';
@import 'sides.css';
@import 'components/layout.css';
@import 'components/nav.css';

*, *::before, *::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background-color: var(--secondary);
}

a.link {
	color: var(--theme-dark);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.rule {
	border: 0;

	display: block;
	width: 90%;
	height: 1px;

	margin: 1.5em auto;
	padding: 0;

	color: #eee;
	background: #eee;
}
