.modal {
	z-index: 12;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	width: 400px;

	background: white;
	border-radius: 3px;
	padding: 2em;
	box-shadow: 0 0px 6px 2px rgba(0, 0, 0, .3);

	@media (width <= 400px) {
		border-radius: 0;
	}


	opacity: 1;

	transition: 0.2s;

	&.is-hidden {
		transform: translate(-50%, -50%) scale(0.8);
		opacity: 0;
	}
}

#modal-bg {
	z-index: 11;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, .7);

	& .modal-bg-x {
		position: absolute;
		top: 64px;
		right: 64px;

		width: 36px;
		height: 36px;

		cursor: pointer;

		background: no-repeat url('/img/x.svg') center center / 32px;
	}

	opacity: 1;
	transition: opacity 0.2s;

	&.is-hidden {
		opacity: 0;
		pointer-events: none;
	}
}
