<include('../components/layout')/>
<include('../components/nav')/>

<main.center.container>
	<h1.big-text>
		500
	</h1>

	<h2>
		Something's gone wrong on our end.<br/>
		Don't worry - the monkeys are already patching it up!
	</h2>
</main>

<include('../components/footer')/>
