<include('../components/layout', data)/>
<include('../components/nav', data)/>

<script>

document.querySelector('#modal-signin').classList.remove('is-hidden')
document.querySelector('#modal-signin').style.boxShadow = 'none'
document.querySelector('.nav-signin').remove()

</script>

<include('../components/footer', data)/>
