<!doctype html>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>

$ let title = 'program.house'
$ if (data.title) title = `${data.title} &middot; program.house`

<title>${title}</title>

<link rel='stylesheet' href='assets/index.css'>
