<!doctype html>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>

$ let title = 'Compass'
$ if (data.title) title = `${data.title} &middot; Compass`

<title>${title}</title>

<link rel='stylesheet' href='/assets/index.css'>
<script src='https://cdn.polyfill.io/v2/polyfill.min.js'></script>
